　<h2>User info</h2>

　 <%= image_tag user.get_profile_image(100,100) %>

　 <table class='table'>
　  <tr>
　    <th>name</th>
　    <span class ="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
　    <!--多分、Home表示でエラーが出てる-->
　    <th><%= user.name %></th>
　  </tr>
　  <tr>
　    <th>introduction</th>
　    <th><%= user.introduction %></th>
　  </tr>
　</table>
　<div class = "row">
　  <%= link_to edit_user_path(user), class:"btn btn-outline-secondary" do %>
　    <i class="fa-solid fa-user-gear"></i>
　    <% end %>
　  </div>

