<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <p>Show</p>
  <% end %>
<!--12章で追加。-->
  
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpeg' %></p>
  <p>Title : <%= book.title %></p>
  <p>Opinion : <%= book.body %></p>
</div>
<% end %>
<!--11章を元に追加-->